        <article class="articulo-detalle">
            <header>
                <p>En <span data-role="categoria"><a href="{{ post.categoria.get_absolute_url }}">{{ post.categoria }}</a></span>, por <span data-role="autor"><a href="">{{ post.autor }}</a></span> el <span data-role="fecha">{{ post.creado|date:"d F Y" }}</span></p>                 
                <div class="cuadrado">
                    <img src="/media/{{ post.categoria.imagen }}" alt="">
                </div>
                <h2>{{ post.titulo }}</h2>
                <h3>{{ post.extracto|safe }}</h3>
            </header>
            <figure>
                <figcaption>{{ post.titulo }}</figcaption>
                <img src="/media/{{ post.imagen_destacada }}" />
            </figure>
            <aside class="comparteme">
                <p>Si te gusta compártelo, es gratis
                    <a class="facebook" href="{{ post.get_compartir_facebook }}"></a>
                    <a class="twitter"  href="{{ post.get_compartir_twitter }}"></a>
                    <a class="google"   href="{{ post.get_compartir_google }}"></a>
                </p>
            </aside>
            <div class="contenido-articulo">
                {{ post.contenido|safe }}
            </div><!-- end of contenido-post -->
        </article>

        {% if post.tags.names %}  
        <aside class="etiquetas">
            <p><label>Etiquetas: </label>
            {% for etiqueta in post.tags.names %}
                <a href="">{{etiqueta}}</a>
            {% endfor %}
            </p>
        </aside>
        {% endif %}

        {% include 'base/perfiles/profile_post.html' %}

        <section class="disqs">
            {% load disqus_tags %}
            {% disqus_show_comments %}
        </section>