        <article class="articulo-detalle">
            <header>
                <p>En <span data-role="categoria"><a href="{{ articulo.categoria.get_absolute_url }}">{{ articulo.categoria }}</a></span>, por <span data-role="autor"><a href="">{{ articulo.autor.first_name }} {{ articulo.autor.last_name }}</a></span> el <span data-role="fecha">{{ articulo.creado|date:"d F Y" }}</span></p>
                <div class="cuadrado">
                    <img src="/media/{{ articulo.categoria.imagen }}" alt="">
                </div>
                <h2>{{ articulo.titulo }}</h2>
                <h3>{{ articulo.extracto|safe }}</h3>
            </header>
            {% if articulo.video %}
            <section class="video">
                <iframe width="670" height="400" src="//www.youtube.com/embed/{{ articulo.video }}" frameborder="0" allowfullscreen></iframe>
            </section>
            {% else %}
            <figure>
                <figcaption>{{ articulo.titulo }}</figcaption>
                <img src="/media/{{ articulo.imagen_destacada }}" />
            </figure>
            {% endif %}
            <aside class="comparteme">
                <p>Si te gusta compártelo, es gratis
                    <a class="facebook" href="{{ articulo.get_compartir_facebook }}"></a>
                    <a class="twitter"  href="{{ articulo.get_compartir_twitter }}"></a>
                    <a class="google"   href="{{ articulo.get_compartir_google }}"></a>
                </p>
            </aside>
            <div class="contenido-articulo">
                {{ articulo.contenido|safe }}
            </div><!-- end of contenido-articulo -->

        </article>

        {% include 'base/perfiles/profile_articulo.html' %}