article.error404
    background-color white
    padding 2em 10% 2em 20%
    box-sizing border-box
    margin-bottom 2em
    img
        display inline-block
        vertical-align top
        width 25%
    >div
        display inline-block
        vertical-align top
        width 65%
        margin-left 5%
        padding-top 3em
        h1
            margin-bottom 1em
        h2
            line-height 1.4em
        a
            font-weight 200
