#wrapper
    >footer
        width 100%
        padding 2em
        box-sizing border-box
        background-color white
        &::before
            content ''
            display block
            clear right
        div.contenido
            max-width anchura_total
            margin 0 auto
        
            div.bienvenidosaez
            div.jaimemse
            div.tagui-hipster
                display inline-block
                vertical-align top
                width 33%
            div.tagui-hipster
                img
                    display block
                    max-width 100%
                    margin-left auto
                    margin-right auto
            div.bienvenidosaez
            div.jaimemse
                text-align center
                margin-top 1em
                img
                    max-width 50px
                    border-radius 50%
                    display block
                    margin 0 auto
                a
                    span
                        color #333
                        transition all 0.5s
            p.copy
                text-align center
                margin-top 2em