#wrapper
    >footer
        font-size 16px
        margin-top 2em
        width 100%
        padding 2em
        padding-bottom 1em
        box-sizing border-box
        background-color white
        &::before
            content ''
            display block
            clear right
        div.contenido
            max-width anchura_total
            margin 0 auto
            font-size 0
            p.copy
                font-size 16px
                text-align center
                margin-top 0em
                margin-bottom 0
            div
                display inline-block
                vertical-align top
                width 50%
                text-align center

        nav
            display inline-block
            overflow hidden
            width 20%
            font-size 16px
            ul
                margin 0
                padding 0
            li
                display block
                margin-bottom .4em
                a
                    text-transform uppercase
                    &:hover
                    &.active
                        //font-weight 400
                        color white !important
                        background-color AzulClaro
                        padding 1px 6px
        div.rrss
            display inline-block
            vertical-align top
            width 25% !important
            margin-top 2.5em
            font-size 16px
            a
                display inline-block
                vertical-align middle
                margin-left 1em
                transition all .3s
                font-size .9em
                text-shadow none
                &:hover
                    rotate 360deg
                &:before
                    font-family "icomoon"
                    font-size 1.6em
                    font-weight 100 !important
                    color AzulClaro
                &+a
                    margin-left 2em
                &.youtube
                    &:before
                        content "\e601"
                        color AzulClaro
                &.facebook
                    &:before
                        content "\e61e"
                        color AzulClaro
                &.twitter
                    &:before
                        content "\e61f"
                        color AzulClaro
                &.google
                    &:before
                        content "\e620"
                        color AzulClaro