.fila
    font-size 0
    .media-fila
    .tercio-fila
    .cuarto-fila
    .dos-tercio-fila
    .tres-cuarto-fila
        font-size 16px
        box-sizing border-box
        display inline-block
        vertical-align top
        padding 0 1em
    .media-fila
        width 50%
    .tercio-fila
        width 33.3%
    .dos-tercio-fila
        width 66.6%
    .cuarto-fila
        width 25%
    .tres-cuarto-fila
        width 75%
    .media-fila:first-child
    .tercio-fila:first-child
    .cuarto-fila:first-child
    .dos-tercio-fila:first-child
    .tres-cuarto-fila:first-child
        padding-left 0
    .media-fila:last-child
    .tercio-fila:last-child
    .cuarto-fila:last-child
    .dos-tercio-fila:last-child
    .tres-cuarto-fila:last-child
        padding-right 0

