//success
verde_texto = #3c763d
verde_fondo = #dff0d8
verde_borde = #d6e9c6

//info
azul_texto = #31708f
azul_fondo = #d9edf7
azul_borde = #bce8f1

//warning
amarillo_texto = #8a6d3b
amarillo_fondo = #fcf8e3
amarillo_borde = #faebcc

//danger
rojo_texto = #a94442
rojo_fondo = #f2dede
rojo_borde = #ebccd1

.alert
    padding 15px
    margin 2em 0
    border 1px solid transparent
    border-radius 4px
    box-sizing border-box
    font-size .9em
    font-weight 200

.info
    color azul_texto
    background-color azul_fondo
    border-color azul_borde

.success
    color verde_texto
    background-color verde_fondo
    border-color verde_borde

.warning
    color amarillo_texto
    background-color amarillo_fondo
    border-color amarillo_borde

.danger
    color rojo_texto
    background-color rojo_fondo
    border-color rojo_borde

.callout
    margin 2em 0
    padding 1em
    border-left-width 3px
    border-right-width 3px
    border-left-style solid
    border-right-style solid
    border-top-right-radius 2em
    border-bottom-left-radius 2em
    font-size .9em
    font-weight 200
    position relative
    &::before
        font-family "icomoon"
        font-size 1.8em
        font-weight 100 !important
        color #4d4d4d
        content "\e613"
        margin-right .8em
        display inline-block
        vertical-align top
        position absolute
        top 50%
        margin-top -15px
        left 1em
    p
        display inline-block
        vertical-align margin-top
        width 92%
        margin-left 8%
        margin-top 0

.callout.success
    &::before
        content "\e611"

.callout.info
    &::before
        content "\e612"

.callout.danger
    &::before
        content "\e614"

.callout.warning
    &::before
        content "\e619"

.github
    margin 2em 0
    padding 1em
    font-size .9em
    font-weight 200
    position relative
    background-color #eef1f8
    padding-left 5.5em
    width 60%
    margin-left auto
    margin-right auto
    &::before
        font-family "icomoon"
        font-size 2em
        font-weight 100 !important
        color #4d4d4d
        content "\e622"
        margin-right .8em
        display inline-block
        vertical-align top
        position absolute
        top 40%
        margin-top -12px
        left 1em
        line-height 1.4em
    &:hover
        &::before
            color black
            opacity 1
    a
        border-bottom 1px solid AzulClaro


blockquote
    font-size 1.4em
    line-height 1.2em
    font-family FTitulos
    font-style italic
    margin 1em 4em .5em 4em
    color #4d4d4d
    &::before
        font-family FBase
        font-size 1em
        content '"'
        display inline-block
        margin-right .2em
    &::after
        font-family FBase
        font-size 1em
        content '"'
        display inline-block
        margin-left .2em

section.listado-articulos
    >h2
        margin-top 0
        margin-bottom 1em
        padding-bottom .5em
        text-transform uppercase
        border-bottom 1px solid whitesmoke
