//success
verde_texto = #3c763d
verde_fondo = #dff0d8
verde_borde = #d6e9c6

//info
azul_texto = #31708f
azul_fondo = #d9edf7
azul_borde = #bce8f1

//warning
amarillo_texto = #8a6d3b
amarillo_fondo = #fcf8e3
amarillo_borde = #faebcc

//danger
rojo_texto = #a94442
rojo_fondo = #f2dede
rojo_borde = #ebccd1

.alert
    padding 15px
    margin 2em 0
    border 1px solid transparent
    border-radius 4px
    box-sizing border-box
    font-size .9em
    box-shadow -2px 2px 1em #d3d3d3
    font-weight 200

.info
    color azul_texto
    background-color azul_fondo
    border-color azul_borde

.success
    color verde_texto
    background-color verde_fondo
    border-color verde_borde

.warning
    color amarillo_texto
    background-color amarillo_fondo
    border-color amarillo_borde

.danger
    color rojo_texto
    background-color rojo_fondo
    border-color rojo_borde

.callout
    margin 2em 0
    padding 1em
    border-left-width 3px
    border-right-width 3px
    border-left-style solid
    border-right-style solid
    border-top-right-radius 2em
    border-bottom-left-radius 2em
    font-size .9em
    box-shadow -2px 2px 1em #d3d3d3
    font-weight 200

section.listado-articulos
    >h2
        margin-top 0
        margin-bottom 1em
        padding-bottom .5em
        text-transform uppercase
        border-bottom 1px solid whitesmoke
