{% extends "articulos/articulo_detail.html" %}

{% block AutorGoogle %}
        <link rel="author" href="https://google.com/+{{ articulo.autor.perfil.google }}">
        <meta name="twitter:site" content="@{{ articulo.autor.perfil.twitter }}" />
{% endblock %}

{% block MetaFacebook %}
        <!-- Metadatos para Facebook -->
        <meta property="og:title"       content="{{ articulo.titulo }} - Explicando la Web"                                  />
        <meta property="og:url"         content="http://explicandolaweb.com{{ articulo.get_absolute_url }}"                  />
        <meta property="og:image"       content="http://explicandolaweb.com/media/{{ articulo.imagen_destacada }}"           />
        <meta property="og:description" content="{{ articulo.extracto|striptags }}"                                          />
{% endblock %}