            {% load static from staticfiles %}
            <footer>
                <div class="contenido">
                    <div class="bienvenidosaez">
                        <a class="bienvenidosaez" href="http://twitter.com/bienvenidosaez">
                            <img src="{% static "img/00comun/bienvenidosaez.jpg" %}" alt="@bienvenidosaez">
                            <span>@bienvenidosaez</span>
                        </a>
                    </div><div class="tagui-hipster">
                        <img src="{% static "img/00comun/logo_exw_footer.png" %}" alt="Explicando la Web">
                    </div><div class="jaimemse">
                        <a class="jaimemse" href="http://twitter.com/jaimemse">
                            <img src="{% static "img/00comun/jaimemse.jpg" %}" alt="@jaimemse">
                            <span>@jaimemse</span>
                        </a>
                    </div>
                    
                    <p class="copy">Copyright ® 2014 - Todos los derechos no registrados y compartidos</p>
                </div>
            </footer>