        <aside id="sidebar">
            <aside>
                <h1>Cursos de Django, Laravel, Wordpress y más</h1>
                <p>Lipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
            </aside>
            <aside class="mas-tutoriales">
                    <h3>Más tutoriales sobre:</h3>
                    {% include 'secciones/categorias_articulos.html' %}
            </aside>
            <aside class="mas-cursos">
                    <h3>Más cursos sobre:</h3>
                    {% include 'secciones/categorias_cursos.html' %}
            </aside>
            <aside class="ultimos-articulos">
                    {% include 'secciones/ultimos_articulos.html' %}                
            </aside>
        </aside>