        <article class="articulo-detalle curso">
            <header>
                <h2>Curso de {{ curso.titulo }}</h2>
                <h3>{{ curso.extracto|safe }}</h3>
            </header>
            <figure>
                <figcaption>{{ curso.titulo }}</figcaption>
                <img src="/media/{{ curso.imagen_destacada }}" />
            </figure>
            <aside class="comparteme">
                <p>Si te gusta compártelo, es gratis
                    <a class="facebook" href="{{ curso.get_compartir_facebook }}"></a>
                    <a class="twitter"  href="{{ curso.get_compartir_twitter }}"></a>
                    <a class="google"   href="{{ curso.get_compartir_google }}"></a>
                </p>
            </aside>
            <div class="contenido-articulo">
                {{ curso.contenido|safe }}
                <section class="listado-capitulos">
                    <h4>Capítulos del curso</h4>
                    {% for capitulo in capitulos %}
                        {% include 'base/curso/capitulos/capitulo_en_listado.html' %}
                    {% endfor %}
                </section>
                <div class="social">
                    <a class="facebook" href="https://www.facebook.com/ExplicandoLaWeb"></a>
                    <a class="twitter"  href="https://twitter.com/explicandolaweb"></a>
                    <a class="google"   href=""></a>
                </div> <!-- end of social -->
            </div><!-- end of contenido-curso -->
        </article>

        <section class="disqs">
            {% load disqus_tags %}
            {% disqus_show_comments %}
        </section>