                <article>
                    <header>
                    <a href="{{ curso.get_absolute_url }}">
                        <img src="/media/{{ curso.imagen_destacada }}" />
                        <h2><a href="{{ curso.get_absolute_url }}" title="{{ curso.titulo }}">{{ curso.titulo|truncatewords:8 }}</a></h2>
                    </a>                    
                    </header>
                    <section class="contenido-articulo">
                        {{ curso.extracto|safe }}
                        <div class="rrss">
                            <a class="facebook" href=""></a>
                            <a class="twitter"  href=""></a>
                            <a class="google"   href=""></a>                    
                        </div>                    
                    </section>
                </article>