{% extends "home.html" %}

{% block title %}Blog - Explicando la Web{% endblock %}

{% load static from staticfiles %}

{% block content %}
<section id="centro">
    <div class="contenido">
        <div id="principal">
        {% if destacado %}
            {% include 'articulos/articulo_destacado.html' %}
        {% endif %}
            {% include 'base/post/listado_posts.html' %}
        </div>
        {% include 'secciones/sidebar.html' %}
    </div> <!-- end of contenido -->
</section>
{% endblock %}