{% extends "layout.html" %}

{% block title %}Cursos y tutoriales de Django, Laravel, Wordpress y más para la web - Explicando la Web{% endblock %}

{% load static from staticfiles %}

{% block content %}
<section id="centro">
    <div class="contenido">
        <div id="principal" class="exw">
            <h1>¿Qué es Explicando la Web?</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, itaque, tempore, ratione, repellat minus saepe aliquam soluta laboriosam hic nostrum dolores alias adipisci voluptatem explicabo tempora esse tenetur similique magni?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, accusantium, veniam, sint fugiat quam cumque ullam sapiente velit minima nam voluptates tempora earum aperiam adipisci fuga ut praesentium dolorum perferendis. . Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, et saepe impedit. Quis, amet, deserunt ea officia magni autem voluptate cupiditate dolore quod magnam et nostrum cum ullam eos nisi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, eaque, in totam id maxime vitae consequatur velit et quidem debitis illo fuga distinctio tenetur saepe exercitationem voluptate excepturi corporis dolore.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, itaque, tempore, ratione, repellat minus saepe aliquam soluta laboriosam hic nostrum dolores alias adipisci voluptatem explicabo tempora esse tenetur similique magni?</p>
            <h2>¿Quien es Explicando la Web?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, accusantium, veniam, sint fugiat quam cumque ullam sapiente velit minima nam voluptates tempora earum aperiam adipisci fuga ut praesentium dolorum perferendis. . Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, et saepe impedit. Quis, amet, deserunt ea officia magni autem voluptate cupiditate dolore quod magnam et nostrum cum ullam eos nisi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, eaque, in totam id maxime vitae consequatur velit et quidem debitis illo fuga distinctio tenetur saepe exercitationem voluptate excepturi corporis dolore.</p>
        </div>

        {% include 'secciones/sidebar_tutoriales.html' %}

    </div> <!-- end of contenido -->
</section>
{% endblock %}