{% extends "layout.html" %}

{% block title %}Cursos y tutoriales de Django, Laravel, Wordpress y más para la web - Explicando la Web{% endblock %}

{% load static from staticfiles %}

{% block content %}
<section id="centro">
    <div class="contenido">
        {% include 'secciones/sidebar_home.html' %}
    {% if destacado %}
        {% include 'articulos/articulo_destacado.html' %}
    {% endif %}
        {% include 'base/articulo/listado_articulos.html' %}

    </div> <!-- end of contenido -->
</section>
{% endblock %}