{% extends "home.html" %}

{% block title %}Tutoriales de Django, Laravel, Wordpress y más para la web - ExplicandoLaWeb{% endblock %}

{% load static from staticfiles %}

{% block content %}
<section id="centro">
    <div class="contenido">
        <div id="principal">

        {% if destacado %}
            {% include 'tutoriales/tutorial_destacado.html' %}
        {% endif %}
            {% include 'base/tutoriales/listado_tutoriales.html' %}

        </div>

            {% include 'secciones/sidebar_tutoriales.html' %}

    </div> <!-- end of contenido -->
</section>
{% endblock %}