aside.temario
    padding-bottom 1em
    h3
        margin-bottom .5em !important
    ol
        margin-top 0
        margin-bottom 0
        li
            font-size .9em
            a:hover
                text-decoration underline