.etiquetas
    padding 1em 2em
    margin-bottom 2em
    box-sizing border-box
    background-color white
    border-top 1px solid transparent
    border-left 1px solid transparent
    label
        &::before
            font-family "icomoon"
            font-size 1.2em
            font-weight 100 !important
            color AzulClaro
            content "\e607"
            color AzulClaro
            margin-right .4em
    p
        font-family FTitulos
        text-transform uppercase
    a
        display inline-block
        background-color AzulClaro
        color white !important
        padding .2em .8em
        margin-left .5em
        text-transform uppercase
        font-family FTitulos
        letter-spacing 2px
        &:hover
            background-color #ced2d6
            color AzulClaro
